<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_name" data-rule="required" class="form-control" name="row[ftp_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_ip')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_ip" data-rule="required" class="form-control" name="row[ftp_ip]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_username" data-rule="required" class="form-control" name="row[ftp_username]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_password" data-rule="required" class="form-control" name="row[ftp_password]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_port')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_port" data-rule="required" class="form-control" name="row[ftp_port]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_ssl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_ssl" class="form-control" name="row[ftp_ssl]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_pasv')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_pasv" class="form-control" name="row[ftp_pasv]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_timeout')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_timeout" data-rule="required" class="form-control" name="row[ftp_timeout]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_dir')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_dir" data-rule="required" class="form-control" name="row[ftp_dir]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ftp_note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ftp_note" class="form-control" name="row[ftp_note]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('DxpId')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dxpId" class="form-control" name="row[dxpId]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Switch')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-switch" class="form-control" name="row[switch]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
