<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_number" data-rule="required" class="form-control" name="row[order_number]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cop_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cop_no" class="form-control" name="row[cop_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customs_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customs_code" class="form-control" name="row[customs_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Port_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-port_code" class="form-control" name="row[port_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cut_mode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cut_mode" class="form-control" name="row[cut_mode]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Distinate_port')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-distinate_port" class="form-control" name="row[distinate_port]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Edistinate_port')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-edistinate_port" class="form-control" name="row[edistinate_port]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Overseas_consignee_ename')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-overseas_consignee_ename" class="form-control" name="row[overseas_consignee_ename]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Desp_port_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-desp_port_code" class="form-control" name="row[desp_port_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Trans_mode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-trans_mode" class="form-control" name="row[trans_mode]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Traf_mode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-traf_mode" class="form-control" name="row[traf_mode]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pack_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pack_no" class="form-control" name="row[pack_no]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wrap_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wrap_type" class="form-control" name="row[wrap_type]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contr_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contr_no" class="form-control" name="row[contr_no]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Client_seq_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-client_seq_no" class="form-control" name="row[client_seq_no]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-notes" class="form-control" name="row[notes]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seq_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seq_no" class="form-control" name="row[seq_no]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Entery_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-entery_id" data-rule="required" data-source="entery/index" class="form-control selectpage" name="row[entery_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agent_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agent_name" class="form-control" name="row[agent_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Response_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-response_code" class="form-control" name="row[response_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Channel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-channel" class="form-control" name="row[channel]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Consignee_country')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-consignee_country" class="form-control" name="row[consignee_country]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Country_cname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-country_cname" class="form-control" name="row[country_cname]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Country_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-country_code" class="form-control" name="row[country_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ebc_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ebc_id" min="0" data-rule="required" data-source="ebc/index" class="form-control selectpage" name="row[ebc_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ebc_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ebc_code" class="form-control" name="row[ebc_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ebc_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ebc_name" class="form-control" name="row[ebc_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Trade_scc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-trade_scc" class="form-control" name="row[trade_scc]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bill_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bill_no" class="form-control" name="row[bill_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Voyage_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-voyage_no" class="form-control" name="row[voyage_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ebp_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ebp_id" min="0" data-rule="required" data-source="ebp/index" class="form-control selectpage" name="row[ebp_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ebp_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ebp_code" class="form-control" name="row[ebp_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ebp_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ebp_name" class="form-control" name="row[ebp_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agent_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agent_id" min="0" data-rule="required" data-source="agent/index" class="form-control selectpage" name="row[agent_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agent_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agent_code" class="form-control" name="row[agent_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agent_scc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agent_scc" class="form-control" name="row[agent_scc]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Consignee_country_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-consignee_country_name" class="form-control" name="row[consignee_country_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Consignee_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-consignee_address" class="form-control" name="row[consignee_address]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cost_item')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cost_item" class="form-control" step="0.001" name="row[cost_item]" type="number" value="0.000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Freight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-freight" class="form-control" step="0.001" name="row[freight]" type="number" value="0.000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Freight_currency')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-freight_currency" class="form-control" name="row[freight_currency]" type="text" value="142">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fee_mark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fee_mark" class="form-control" name="row[fee_mark]" type="text" value="142">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cost_freight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cost_freight" class="form-control" step="0.001" name="row[cost_freight]" type="number" value="0.000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Insur_curr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-insur_curr" class="form-control" name="row[insur_curr]" type="text" value="142">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Insur_mark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-insur_mark" class="form-control" name="row[insur_mark]" type="text" value="142">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Insur_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-insur_rate" class="form-control" step="0.001" name="row[insur_rate]" type="number" value="0.000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_curr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-other_curr" class="form-control" name="row[other_curr]" type="text" value="142">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_mark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-other_mark" class="form-control" name="row[other_mark]" type="text" value="142">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-other_rate" class="form-control" step="0.001" name="row[other_rate]" type="number" value="0.000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Final_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-final_amount" class="form-control" step="0.0001" name="row[final_amount]" type="number" value="0.0000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-note" class="form-control" name="row[note]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" class="form-control" step="0.001" name="row[weight]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Net_weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-net_weight" class="form-control" step="0.001" name="row[net_weight]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Member_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-member_id" min="0" data-rule="required" data-source="member/index" class="form-control selectpage" name="row[member_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Member_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-member_name" class="form-control" name="row[member_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Confirm')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-confirm" class="form-control selectpicker" name="row[confirm]">
                {foreach name="confirmList" item="vo"}
                    <option value="{$key}" {in name="key" value="draft"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-order_type" class="form-control selectpicker" name="row[order_type]">
                {foreach name="orderTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="E"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Declare_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-declare_status" class="form-control" name="row[declare_status]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Import_error')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-import_error" class="form-control" name="row[import_error]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Owner_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-owner_code" class="form-control" name="row[owner_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Owner_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-owner_name" class="form-control" name="row[owner_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Owner_scc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-owner_scc" class="form-control" name="row[owner_scc]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_status" class="form-control" name="row[order_status]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_updateTime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_updateTime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[order_updateTime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_returnInfo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_returnInfo" class="form-control" name="row[order_returnInfo]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory_status" class="form-control" name="row[inventory_status]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory_updateTime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory_updateTime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[inventory_updateTime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory_returnInfo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory_returnInfo" class="form-control" name="row[inventory_returnInfo]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Auth_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-auth_id" data-rule="required" data-source="auth/index" class="form-control selectpage" name="row[auth_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
